<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">Smart TODO</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/todos">All To-Dos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="form-inline ml-auto">
                <% if (user) { %>
                    <span class="navbar-text mr-3">Logged in as: <%= user.email %>!</span>
                    <form class="form-inline" action="/auth/logout" method="POST">
                        <button type="submit" class="btn btn-outline-light">Logout</button>
                    </form>
                <% } else { %>
                    <a class="nav-item nav-link" href="/auth/register">Register</a>
                    <a class="nav-item nav-link" href="/auth/login">Login</a>
                <% } %>
            </div>
        </div>
    </nav>
</header>
