<section class="hero-header">
  <div class="hero-content">
    <div class="hero-text heading">Some text here</div>
    <div class="hero-text spacer">&nbsp;</div>
  </div>
  <img src="../assets/header2-flower.png"/>
</section>