<section class="hero-header">
  <div class="hero-content">
    <div class="hero-text heading"><%- headerText ? headerText : 'Some text here' %></div>
    <div class="hero-text spacer">&nbsp;</div>
  </div>
  <img src="../assets/flower-header.png"/>
</section>