<div class="todo-item">
  <div class="todo-item-card">
    <div class="todo-item-info">
      <button
        type="button"
        class="complete-task-btn"
        name="complete-task"
        value="complete"
      ></button>
      <div class="todo-item-text">
        <span class="todo-item-title">Do a really important thing</span>
        <span class="todo-item-deadline">Due in 23 days</span>
      </div>
    </div>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>