<div class="todo-item">
  <a class="todo-item-card <%= completed ? 'completed-item' : '' %>">
    <div class="todo-item-info">
      <form action="" method="POST">
        <button
          type="button"
          class="complete-task-btn"
          name="complete-task"
          value="complete"
        >
          <img src="../assets/checkmark.png" />
        </button>
      </form>
      <div class="todo-item-text">
        <span class="todo-item-title">Do a really important thing</span>
        <span class="todo-item-deadline">Due in 23 days</span>
      </div>
    </div>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
</div>
