<a href="/lists/<%- listName %>" class="todo-list-card">
  <div class="square-card">
    <img
      src="/assets/icons/<%- listIcon -%>"
    />
  </div>
  <span class="paragraph"><%- listName %> →</span>
</a>