
<!--This is the Input form for user.
The category is announced after the item name is inputted.
It is displayed in a dropdown for manual changes if neede.

How: add Javascript to make an API call
-->

<form id="todoForm" action="/api/todo/categorize" method="POST">
    <div class="mb-3">
        <label for="itemName" class="form-label">Quick Add A ToDo</label>
        <div class="input-group">
            <input type="text" class="form-control rounded" id="itemName" name="itemName" placeholder="What are we doing?" required>
            <button type="submit" class="btn btn-dark">+ Add ToDo</button>
        </div>
    </div>

    <!-- Category announcement and manual change dropdown -->
    <div class="mt-3">
        <label>This will be added to:</label>
        <select id="categoryDropdown" name="category" class="form-select">
            <option value="ToWatch">Watchlist</option>
            <option value="ToEat">Restaurants</option>
            <option value="ToRead">Books</option>
            <option value="ToBuy">Products</option>
            <option value="Uncategorized">Uncategorized</option>
        </select>
    </div>
</form>

<!-- Add a section to display the information -->
<div id="displayInformation">
    <h6>This is display info</h6>
</div>
