<!--This is the Input form for user.
The category is announced after the item name is inputted.
It is displayed in a dropdown for manual changes if neede.

How: add Javascript to make an API call
-->
<form id="todoForm" action="/api/todo/categorize" method="POST">
  <span class="inout-textbox">
    <label for="itemName" class="form-label">Add a To-Do</label>
    <input
      type="text"
      class="form-control task-name"
      id="itemName"
      name="itemName"
      placeholder="What do you want to remember to do?"
      required
    />
  </span>

  <!-- Category announcement and manual change dropdown -->
  <span>
    <label for="categoryDropdown">Add to List:</label>
    <select id="categoryDropdown" name="category" class="select-list">
      <option value="ToWatch">Watchlist</option>
      <option value="ToEat">Restaurants</option>
      <option value="ToRead">Books</option>
      <option value="ToBuy">Products</option>
      <option value="Uncategorized">Uncategorized</option>
    </select>
  </span>

  <button type="submit" class="default-btn">
    <i class="fa-solid fa-magnifying-glass"></i>
    Search
  </button>
  <button id="manualChangeButton" class="btn btn-warning-outline" type="submit">
    Confirm Change
  </button>
</form>

<!-- Add a section to display the information -->
<span class="display-api-info">
  <div id="displayInformation">
    <h6>This is display info</h6>
  </div>
</span>

<!--item already exists -->
<div class="error-container"></div>
