<form action="/api/todo" method="POST">
    <div class="mb-3">
        <label for="itemName" class="form-label">Add an Item</label>
        <input type="text" class="form-control rounded" id="itemName" name="itemName" placeholder="E.g. Inception, Sapiens, Joe's Cafe" required>
    </div>
    <button type="submit" class="btn btn-primary">Add to List</button>
</form>
