<!DOCTYPE html>
<html>
  <head>
    <!-- replace "List" with variable -->
    <title>Add ToDo</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes') %>
  </head>
  <%- include('partials/_header') %>
  <body>
    <%- include('partials/_hero-banner') %>
    <main>
      <form>
        <input type="text" name="todo-name">
        <button type="submit">Create ToDo</button>
      </form>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>