.todo-list-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  margin: 0 16px;
  
  cursor: pointer;

  &:hover{
    .square-card {
      transform: scale(1.05);
    }
  }
}

.square-card {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 16px;
  transition: all ease-in-out 300ms;
  
  background-color: #f9f9f9;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}