// See: https://sass-lang.com/

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  width: 80%;
  margin: 0 auto;
}

.home-quick-todo,
.home-lists,
.home-todos-glance {
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-bottom: 24px;
  }
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.content-plus-filter {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 2rem;
}